*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Product-Sans-Regular";
    color: #fff;
}
@font-face{
    font-family: "Ultra-Bold";
    src: url("../fonts/Ultra-Regular.ttf");
}
@font-face{
    font-family: "Syncopate-Bold";
    src: url('../fonts/Syncopate/Syncopate-Bold.ttf')
}
@font-face {
    font-family: "Product-Sans-Bold";
    src: url("../fonts/Product-Sans-Bold.ttf");
}
@font-face {
    font-family: "Product-Sans-Bold-Italic";
    src: url("../fonts/Product-Sans-Bold-Italic.ttf");
}
@font-face {
    font-family: "Product-Sans-Regular";
    src: url("../fonts/Product-Sans-Regular.ttf");
}
.cs{
    height: auto;
    width: 100%;
    background-image: url("../images/background-fix-01.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.cs::after{
    animation: comp infinite 5s;
    position: absolute;
    content: '#IFEST10';
    height: 55px;
    line-height: 50px;
    border-radius: 10px;
    left: 2%;
    top: 2.8%;
    width: 175px;
    text-transform: uppercase;
    font-family: "Product-Sans-Bold-Italic";
    font-size: 30px;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, rgb(113, 0, 148), rgb(226, 0, 113));
   
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-height: 100vh;
    flex-wrap: wrap;
    width: 50%;
    max-width: 100%;
    padding: 20px 0 0 0px;
    background-repeat: repeat;
    background-size: auto;
    transition: .5s;
}
.content .data{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 30px;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.content h1{
    animation: ans infinite 5s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-family: "Syncopate-Bold";
    font-size: 65px;
    color: #f00084;
}
/* .content h1:before{
    animation: ans infinite 6s;
    position: absolute;
    content: 'Coming Soon';
    text-transform: uppercase;
    font-family: "Ultra-Bold";
    font-size: 85px;
    color: #BC3838;
    margin: 10px 0px 0px 10px;
} */


/* @keyframes ans {
    0% {
        transform: translateY(1%);
    }

    50% {
        transform: translateY(-1%);
    }

    100% {
        transform: translateY(1%);
    }
} */
@keyframes comp{
    0%{
        transform: translateY(-15%);
    }
    50% {
        transform: translateY(15%);
    }
    100%{
        transform: translateY(-15%);
    }
}
.content h3{
    font-size: 25px;
}
form{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 350px;
}
input{
    height: 50px;
    width: 100%;
    margin: 0 10px 0 0;
    font-family: "Product-Sans-Regular";
    font-size: 16px;
    padding: 15px;
    border: 0px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
input:focus{
    outline: 1px solid #ff0e87;
    transition: .3s;
}
button{
    height: 50px;
    width: 10rem;
    text-transform: uppercase;
    font-family: "Product-Sans-Bold";
    color: #fff;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
    background-color: #ff0e87;
    border-radius: 10px;
    border: 0px;
    transition: .5s;
}

button:hover{
    background-color: #ffffff;
    transition: .3s;
    color: #ff0e87;
    border: 1px solid #ff0e87;
}
.coming-soon-text{
    position: relative;
    margin-bottom: 10px;
}
/* .coming-soon-text h1:after{
    position: absolute;
    bottom: -5%;
    content: '';
    line-height: 50px;
    border-radius: 15px;
    width: 100%;
    height: 5px;
    background-color: #008bfd;
} */
.get-notified{
    display: flex;
    flex-direction: column;
    margin-top:5px;
    justify-content: flex-center;
}
p{
    font-family: "Product-Sans-Regular";
    font-size: 16px;
    margin: 7px 5px;
    color: #403A3A;
    
}
ul{
    position: absolute;
    top: 50%;
    left: 0;
    background-image: linear-gradient(#7c009b, rgb(255, 0, 140));
    padding: 10px 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
li{
    display: flex;
    list-style: none;
    margin: 10px;
    transform: translateY(0%);
    transition: .5s;
}
li:hover{
    transform: translateY(-15%);
    transition: .5s;
}
li:last-child{
    margin-right: 0px;
}
li a{
    text-decoration: none; 
}
li i{
    font-size: 25px;
    color: #ffffff;
    transition: .5s;
}
li:hover i{
    color: #ffffff;
    transition: .5s;
}
table{
    width: 100%;
}
.main-info,
.information{
    text-align: center;
}
.information{
    color:rgb(255, 0, 140)
}
.main-info > td{
    color:rgb(255, 0, 140);
    height: 5rem;
    border-radius: 5px;
    font-size: 2.5rem;
    border: 1.34px solid #ff0e87;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
/* @media screen and (min-width: 994px){
    .content{
        width: 50%;
        max-width: 100%;
    }
} */

@media screen and (max-width: 994px){
    .content{
        width: 100%;
        max-width: 100%;
    }
    .content h1 {
        font-size: 65px;
    }
    .content h1:before {
        font-size: 65px;
    }
    .content h1:after {
        height: 45px;
        line-height: 45px;
        width: 165px;
        margin: 5px 0px 0px -100px;
    }
    .content .data{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.925);
        padding: 50px;
        border-radius: 30px;
        border: 1px solid rgb(221, 221, 221);
        box-shadow: none;
    }
} 
@media screen and (max-width: 500px){
    *{
        text-align: center;
    }
    .cs{
        height: auto;
        width: 100%;
        background-image: url("../images/background-fix-01.png");
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        background-position: right;
    }
    .content .data{
        max-width: 80%;
        position: relative;
        padding: 50px 20px;
        background: rgba(255, 255, 255, 0.856);
    }
    
    .content h1{
        font-size: 2rem;
        text-align: center;
    }
    .main-info > td{
        font-size: 2rem;
    }
    ul{
        top: 50%;
        left: 50%;
        transform: translate(-50%,280%);
        display: flex;
        border-radius: 15px;
        padding: 5px 10px;
        text-align: center;
    }
    li{
        list-style: none;
        margin: 10px;
        display: flex;
        transform: translateY(0%);
        transition: .5s;
    }
    table{
        max-width: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        border-spacing: .6rem;
    }
    .main-info > td{
        padding: .5rem;
    }

}
@media only screen and (max-width: 376px){
    .main-info > td{
        font-size: 1.3rem;
    }
}